$teal: hsl(180, 100%, 25%);
$orange: #FF7439;

$base-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
$question-shadow: $base-shadow!important;

$body-bg: rgb(246, 246, 246);

// $primary: $teal;
// $secondary: $orange;